<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test SVG</title>
  </head>
  <body>
    <button type="button"></button>
    <svg
       xmlns:osb="http://www.openswatchbook.org/uri/2009/osb"
       xmlns:dc="http://purl.org/dc/elements/1.1/"
       xmlns:cc="http://creativecommons.org/ns#"
       xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
       xmlns:svg="http://www.w3.org/2000/svg"
       xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink"
       xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
       xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
       width="297mm"
       height="210mm"
       viewBox="0 0 1052.3623 744.09456"
       id="svg2"
       version="1.1"
       inkscape:version="0.91 r13725"
       sodipodi:docname="map_bidon_fleches.svg">
      <defs
         id="defs4">
        <marker
           inkscape:stockid="Arrow2Lend"
           orient="auto"
           refY="0.0"
           refX="0.0"
           id="marker12783"
           style="overflow:visible;"
           inkscape:isstock="true">
          <path
             id="path12785"
             style="fill-rule:evenodd;stroke-width:0.625;stroke-linejoin:round;stroke:#ffffff;stroke-opacity:1;fill:#ffffff;fill-opacity:1"
             d="M 8.7185878,4.0337352 L -2.2072895,0.016013256 L 8.7185884,-4.0017078 C 6.9730900,-1.6296469 6.9831476,1.6157441 8.7185878,4.0337352 z "
             transform="scale(1.1) rotate(180) translate(1,0)" />
        </marker>
        <marker
           inkscape:stockid="Arrow2Lstart"
           orient="auto"
           refY="0.0"
           refX="0.0"
           id="marker12683"
           style="overflow:visible"
           inkscape:isstock="true">
          <path
             id="path12685"
             style="fill-rule:evenodd;stroke-width:0.625;stroke-linejoin:round;stroke:#ffffff;stroke-opacity:1;fill:#ffffff;fill-opacity:1"
             d="M 8.7185878,4.0337352 L -2.2072895,0.016013256 L 8.7185884,-4.0017078 C 6.9730900,-1.6296469 6.9831476,1.6157441 8.7185878,4.0337352 z "
             transform="scale(1.1) translate(1,0)" />
        </marker>
        <marker
           inkscape:stockid="Arrow2Lstart"
           orient="auto"
           refY="0.0"
           refX="0.0"
           id="marker12637"
           style="overflow:visible"
           inkscape:isstock="true">
          <path
             id="path12639"
             style="fill-rule:evenodd;stroke-width:0.625;stroke-linejoin:round;stroke:#ffffff;stroke-opacity:1;fill:#ffffff;fill-opacity:1"
             d="M 8.7185878,4.0337352 L -2.2072895,0.016013256 L 8.7185884,-4.0017078 C 6.9730900,-1.6296469 6.9831476,1.6157441 8.7185878,4.0337352 z "
             transform="scale(1.1) translate(1,0)" />
        </marker>
        <marker
           inkscape:stockid="Arrow2Lend"
           orient="auto"
           refY="0.0"
           refX="0.0"
           id="marker12247"
           style="overflow:visible;"
           inkscape:isstock="true">
          <path
             id="path12249"
             style="fill-rule:evenodd;stroke-width:0.625;stroke-linejoin:round;stroke:#ffffff;stroke-opacity:1;fill:#ffffff;fill-opacity:1"
             d="M 8.7185878,4.0337352 L -2.2072895,0.016013256 L 8.7185884,-4.0017078 C 6.9730900,-1.6296469 6.9831476,1.6157441 8.7185878,4.0337352 z "
             transform="scale(1.1) rotate(180) translate(1,0)" />
        </marker>
        <marker
           inkscape:stockid="Arrow2Lstart"
           orient="auto"
           refY="0.0"
           refX="0.0"
           id="marker12165"
           style="overflow:visible"
           inkscape:isstock="true">
          <path
             id="path12167"
             style="fill-rule:evenodd;stroke-width:0.625;stroke-linejoin:round;stroke:#ffffff;stroke-opacity:1;fill:#ffffff;fill-opacity:1"
             d="M 8.7185878,4.0337352 L -2.2072895,0.016013256 L 8.7185884,-4.0017078 C 6.9730900,-1.6296469 6.9831476,1.6157441 8.7185878,4.0337352 z "
             transform="scale(1.1) translate(1,0)" />
        </marker>
        <marker
           inkscape:isstock="true"
           style="overflow:visible;"
           id="marker11813"
           refX="0.0"
           refY="0.0"
           orient="auto"
           inkscape:stockid="Arrow2Lend"
           inkscape:collect="always">
          <path
             transform="scale(1.1) rotate(180) translate(1,0)"
             d="M 8.7185878,4.0337352 L -2.2072895,0.016013256 L 8.7185884,-4.0017078 C 6.9730900,-1.6296469 6.9831476,1.6157441 8.7185878,4.0337352 z "
             style="fill-rule:evenodd;stroke-width:0.625;stroke-linejoin:round;stroke:#000000;stroke-opacity:1;fill:#ffffff;fill-opacity:1"
             id="path11815" />
        </marker>
        <marker
           inkscape:isstock="true"
           style="overflow:visible"
           id="marker11743"
           refX="0.0"
           refY="0.0"
           orient="auto"
           inkscape:stockid="Arrow2Lstart"
           inkscape:collect="always">
          <path
             transform="scale(1.1) translate(1,0)"
             d="M 8.7185878,4.0337352 L -2.2072895,0.016013256 L 8.7185884,-4.0017078 C 6.9730900,-1.6296469 6.9831476,1.6157441 8.7185878,4.0337352 z "
             style="fill-rule:evenodd;stroke-width:0.625;stroke-linejoin:round;stroke:#000000;stroke-opacity:1;fill:#ffffff;fill-opacity:1"
             id="path11745" />
        </marker>
        <marker
           inkscape:stockid="Arrow2Lend"
           orient="auto"
           refY="0.0"
           refX="0.0"
           id="Arrow2Lend"
           style="overflow:visible;"
           inkscape:isstock="true"
           inkscape:collect="always">
          <path
             id="path11172"
             style="fill-rule:evenodd;stroke-width:0.625;stroke-linejoin:round;stroke:#ffffff;stroke-opacity:1;fill:#ffffff;fill-opacity:1"
             d="M 8.7185878,4.0337352 L -2.2072895,0.016013256 L 8.7185884,-4.0017078 C 6.9730900,-1.6296469 6.9831476,1.6157441 8.7185878,4.0337352 z "
             transform="scale(1.1) rotate(180) translate(1,0)" />
        </marker>
        <marker
           inkscape:stockid="DiamondSend"
           orient="auto"
           refY="0.0"
           refX="0.0"
           id="DiamondSend"
           style="overflow:visible"
           inkscape:isstock="true">
          <path
             id="path11254"
             d="M 0,-7.0710768 L -7.0710894,0 L 0,7.0710589 L 7.0710462,0 L 0,-7.0710768 z "
             style="fill-rule:evenodd;stroke:#000000;stroke-width:1pt;stroke-opacity:1;fill:#000000;fill-opacity:1"
             transform="scale(0.2) translate(-6,0)" />
        </marker>
        <marker
           inkscape:stockid="Arrow2Lstart"
           orient="auto"
           refY="0.0"
           refX="0.0"
           id="Arrow2Lstart"
           style="overflow:visible"
           inkscape:isstock="true"
           inkscape:collect="always">
          <path
             id="path11169"
             style="fill-rule:evenodd;stroke-width:0.625;stroke-linejoin:round;stroke:#ffffff;stroke-opacity:1;fill:#ffffff;fill-opacity:1"
             d="M 8.7185878,4.0337352 L -2.2072895,0.016013256 L 8.7185884,-4.0017078 C 6.9730900,-1.6296469 6.9831476,1.6157441 8.7185878,4.0337352 z "
             transform="scale(1.1) translate(1,0)" />
        </marker>
        <linearGradient
           id="linearGradient11137"
           inkscape:collect="always">
          <stop
             id="stop11139"
             offset="0"
             style="stop-color:#c79900;stop-opacity:1" />
          <stop
             id="stop11141"
             offset="1"
             style="stop-color:#000000;stop-opacity:1" />
        </linearGradient>
        <linearGradient
           id="linearGradient11131"
           inkscape:collect="always">
          <stop
             id="stop11133"
             offset="0"
             style="stop-color:#007ea5;stop-opacity:1" />
          <stop
             id="stop11135"
             offset="1"
             style="stop-color:#000000;stop-opacity:1" />
        </linearGradient>
        <linearGradient
           id="linearGradient11125"
           inkscape:collect="always">
          <stop
             id="stop11127"
             offset="0"
             style="stop-color:#007117;stop-opacity:1" />
          <stop
             id="stop11129"
             offset="1"
             style="stop-color:#000000;stop-opacity:1" />
        </linearGradient>
        <linearGradient
           inkscape:collect="always"
           id="linearGradient5041">
          <stop
             style="stop-color:#c72400;stop-opacity:1;"
             offset="0"
             id="stop5043" />
          <stop
             style="stop-color:#000000;stop-opacity:1"
             offset="1"
             id="stop5045" />
        </linearGradient>
        <linearGradient
           id="linearGradient9174"
           osb:paint="solid">
          <stop
             style="stop-color:#000000;stop-opacity:0.627451;"
             offset="0"
             id="stop9176" />
        </linearGradient>
        <marker
           inkscape:stockid="CurvyCross"
           orient="auto"
           refY="0.0"
           refX="0.0"
           id="CurvyCross"
           style="overflow:visible"
           inkscape:isstock="true">
          <g
             id="g7792"
             transform="scale(0.6)"
             style="stroke:#000000;stroke-opacity:1;fill:#c77c00;fill-opacity:1">
            <path
               id="path7794"
               d="M 4.6254930,-5.0456926 C 1.8654930,-5.0456926 -0.37450702,-2.8056926 -0.37450702,-0.045692580 C -0.37450702,2.7143074 1.8654930,4.9543074 4.6254930,4.9543074"
               style="fill:#c77c00;fill-rule:evenodd;stroke:#000000;stroke-width:1pt;stroke-opacity:1;fill-opacity:1" />
            <path
               id="path7796"
               d="M -5.4129913,-5.0456926 C -2.6529913,-5.0456926 -0.41299131,-2.8056926 -0.41299131,-0.045692580 C -0.41299131,2.7143074 -2.6529913,4.9543074 -5.4129913,4.9543074"
               style="fill:#c77c00;fill-rule:evenodd;stroke:#000000;stroke-width:1pt;stroke-opacity:1;fill-opacity:1" />
          </g>
        </marker>
        <marker
           inkscape:stockid="Arrow1Lstart"
           orient="auto"
           refY="0.0"
           refX="0.0"
           id="Arrow1Lstart"
           style="overflow:visible"
           inkscape:isstock="true">
          <path
             id="path7602"
             d="M 0.0,0.0 L 5.0,-5.0 L -12.5,0.0 L 5.0,5.0 L 0.0,0.0 z "
             style="fill-rule:evenodd;stroke:#000000;stroke-width:1pt;stroke-opacity:1;fill:#c77c00;fill-opacity:1"
             transform="scale(0.8) translate(12.5,0)" />
        </marker>
        <linearGradient
           id="linearGradient6704"
           osb:paint="solid">
          <stop
             style="stop-color:#000000;stop-opacity:1;"
             offset="0"
             id="stop6706" />
        </linearGradient>
        <linearGradient
           inkscape:collect="always"
           id="linearGradient6551">
          <stop
             style="stop-color:#310253;stop-opacity:1;"
             offset="0"
             id="stop6553" />
          <stop
             style="stop-color:#36005d;stop-opacity:0"
             offset="1"
             id="stop6555" />
        </linearGradient>
        <linearGradient
           id="linearGradient5630"
           osb:paint="solid">
          <stop
             style="stop-color:#29004d;stop-opacity:1;"
             offset="0"
             id="stop5632" />
        </linearGradient>
        <radialGradient
           inkscape:collect="always"
           xlink:href="#linearGradient6551"
           id="radialGradient6557"
           cx="529.909"
           cy="394.7384"
           fx="529.909"
           fy="394.7384"
           r="534.37073"
           gradientTransform="matrix(0.95859736,-0.15001573,0.10835693,0.69239845,-27.802618,190.74901)"
           gradientUnits="userSpaceOnUse" />
        <radialGradient
           inkscape:collect="always"
           xlink:href="#linearGradient5041"
           id="radialGradient5251-3"
           cx="770.69403"
           cy="388.32233"
           fx="770.69403"
           fy="388.32233"
           r="33.857151"
           gradientTransform="matrix(0.97385895,1.1587384,-1.1741595,0.98681928,338.98678,-1124.0034)"
           gradientUnits="userSpaceOnUse" />
        <radialGradient
           inkscape:collect="always"
           xlink:href="#linearGradient11131"
           id="radialGradient5251-2"
           cx="770.69403"
           cy="388.32233"
           fx="770.69403"
           fy="388.32233"
           r="33.857151"
           gradientTransform="matrix(0.57847372,0.68829239,-0.69745255,0.58617217,249.13477,-625.82845)"
           gradientUnits="userSpaceOnUse" />
        <radialGradient
           inkscape:collect="always"
           xlink:href="#linearGradient11125"
           id="radialGradient5251-7"
           cx="770.69403"
           cy="388.32233"
           fx="770.69403"
           fy="388.32233"
           r="33.857151"
           gradientTransform="matrix(1.2467563,1.4834432,-1.5031856,1.2633484,11.755944,-1386.3069)"
           gradientUnits="userSpaceOnUse" />
        <radialGradient
           inkscape:collect="always"
           xlink:href="#linearGradient11137"
           id="radialGradient5251-37"
           cx="770.69403"
           cy="388.32233"
           fx="770.69403"
           fy="388.32233"
           r="33.857151"
           gradientTransform="matrix(0.97385895,1.1587384,-1.1741595,0.98681928,283.23105,-936.73745)"
           gradientUnits="userSpaceOnUse" />
      </defs>
      <sodipodi:namedview
         id="base"
         pagecolor="#ffffff"
         bordercolor="#666666"
         borderopacity="1.0"
         inkscape:pageopacity="1"
         inkscape:pageshadow="2"
         inkscape:zoom="1.0434202"
         inkscape:cx="574.59132"
         inkscape:cy="422.55005"
         inkscape:document-units="px"
         inkscape:current-layer="layer5"
         showgrid="false"
         units="mm"
         inkscape:window-width="1366"
         inkscape:window-height="719"
         inkscape:window-x="0"
         inkscape:window-y="25"
         inkscape:window-maximized="1"
         inkscape:snap-global="true" />
      <metadata
         id="metadata7">
        <rdf:RDF>
          <cc:Work
             rdf:about="">
            <dc:format>image/svg+xml</dc:format>
            <dc:type
               rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
            <dc:title></dc:title>
          </cc:Work>
        </rdf:RDF>
      </metadata>
      <filter id="dropshadow" height="150%">
        <feComponentTransfer in="SourceAlpha">
         <feFuncR type="discrete" tableValues="1"/>
         <feFuncG type="discrete" tableValues="1"/>
         <feFuncB type="discrete" tableValues="1"/>
      </feComponentTransfer>
        <feGaussianBlur stdDeviation="2"/> <!-- stdDeviation is how much to blur -->
        <feOffset dx="0" dy="0" result="offsetblur"/> <!-- how much to offset -->
        <!--<feFlood flood-color="#ffffff" flood-opacity="0.5" result="offsetColor"/>-->
        <feMerge>
          <feMergeNode/> <!-- this contains the offset blurred image -->
          <feMergeNode in="SourceGraphic"/> <!-- this contains the element that the filter is applied to -->
        </feMerge>
      </filter>
      <g
         inkscape:label="background"
         inkscape:groupmode="layer"
         id="layer1"
         transform="translate(0,-308.26753)"
         style="display:inline"
         sodipodi:insensitive="true">
        <rect
           style="opacity:1;fill:#000000;fill-opacity:1;fill-rule:nonzero"
           id="rect6544"
           width="1066.7209"
           height="753.57373"
           x="-8.0812216"
           y="304.84915" />
      </g>
      <g
         inkscape:groupmode="layer"
         id="layer2"
         inkscape:label="background gradient"
         style="display:inline"
         sodipodi:insensitive="true">
        <rect
           style="opacity:1;fill:url(#radialGradient6557);fill-opacity:1;fill-rule:nonzero;"
           id="rect6549"
           width="1068.7415"
           height="757.61444"
           x="-10.101526"
           y="-5.4387064" />
      </g>
      <g
         inkscape:groupmode="layer"
         id="layer4"
         inkscape:label="stars"
         sodipodi:insensitive="true" />
      <g
         inkscape:groupmode="layer"
         id="layer3"
         inkscape:label="planètes"
         style="display:inline">
        <ellipse
           style="opacity:0;fill:#000000;fill-opacity:1;fill-rule:nonzero"
           id="path6690"
           cx="-46.467022"
           cy="645.09961"
           rx="193.94933"
           ry="161.62442" />
        <ellipse
           style="opacity:0;fill:#000000;fill-opacity:1;fill-rule:nonzero"
           id="path6692"
           cx="-255.56862"
           cy="624.89655"
           rx="186.87823"
           ry="58.588852" />
        <ellipse
           style="opacity:0;fill:#000000;fill-opacity:1;fill-rule:nonzero"
           id="path6694"
           cx="-385.87833"
           cy="306.69846"
           rx="64.649773"
           ry="160.61427" />
        <ellipse
           style="opacity:0;fill:#360000;fill-opacity:1;fill-rule:nonzero"
           id="path6696"
           cx="425.27429"
           cy="403.6731"
           rx="87.883278"
           ry="77.781754" />
        <ellipse
           style="opacity:0;fill:#360000;fill-opacity:1;fill-rule:nonzero"
           id="path6698"
           cx="389.91895"
           cy="328.92181"
           rx="76.771599"
           ry="65.65992" />
        <ellipse
           style="opacity:0;fill:#360000;fill-opacity:1;fill-rule:nonzero"
           id="path6700"
           cx="197.98993"
           cy="425.89645"
           rx="117.17771"
           ry="146.47214" />
        <ellipse
           style="display:inline;fill:url(#radialGradient5251-3);fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:2.00000024;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
           id="1"
           cx="649.16833"
           cy="171.88608"
           rx="32.857155"
           ry="30.714291"
           inkscape:label="#path6728-2-5" />
        <ellipse
           style="display:inline;fill:url(#radialGradient5251-2);fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.18800318;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
           id="0"
           cx="433.38315"
           cy="143.93185"
           rx="19.5172"
           ry="18.244335"
           inkscape:label="#path6728-2-8" />
        <ellipse
           style="display:inline;fill:url(#radialGradient5251-7);fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:2.56000018;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
           id="2"
           cx="408.85757"
           cy="272.72021"
           rx="42.064476"
           ry="39.321133"
           inkscape:label="#path6728-2-02" />
        <ellipse
           style="display:inline;fill:url(#radialGradient5251-37);fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:2.00000024;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
           id="3"
           cx="593.41266"
           cy="359.15195"
           rx="32.857155"
           ry="30.714291"
           inkscape:label="#path6728-2-2" />
      </g>
      <g
         inkscape:groupmode="layer"
         id="layer5"
         inkscape:label="fleches">
        <path
           style="fill:none;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.9000001;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#Arrow2Lstart);marker-end:url(#Arrow2Lend)"
           d="m 462.17898,149.76764 c 143.66854,18.97509 143.66854,18.97509 143.66854,18.97509"
           id="path11145"
           inkscape:connector-curvature="0" />
        <path
           style="fill:none;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.90000008;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none;marker-start:url(#marker11743);marker-end:url(#marker11813)"
           d="M 608.55824,189.07318 C 456.75752,260.22977 456.75752,260.22977 456.75752,260.22977"
           id="path11735"
           inkscape:connector-curvature="0" />
        <path
           style="fill:none;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.90000008;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none;marker-start:url(#marker12165);marker-end:url(#marker12247)"
           d="m 454.04679,294.79154 c 100.9746,48.1154 100.9746,48.1154 100.9746,48.1154"
           id="path12157"
           inkscape:connector-curvature="0" />
        <path
           style="fill:none;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.90000008;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;marker-start:url(#marker12683);marker-end:url(#marker12783);stroke-miterlimit:4;stroke-dasharray:none"
           d="M 637.02088,208.72595 C 609.23592,322.57649 609.23592,322.57649 609.23592,322.57649"
           id="path12675"
           inkscape:connector-curvature="0" />
      </g>
    </svg>

    <script
			  src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>
    <script type="text/javascript">
    $('#layer3 ellipse, #layer4 ellipse').on({
    mouseenter: function () {
        $(this).css('filter', 'url(#dropshadow)').css('stroke', '#ffffff');
    },

    mouseleave: function () {
        $(this).css('filter', '').css('stroke', '#000000');
    }
});
/*
      $('#layer3 ellipse').mouseover(function(){
        $(this).css('filter', 'url(#dropshadow)').css('stroke', '#ffffff');
         //$('#layer4 ellipse').css('fill-opacity', '0');
      });
      */
    </script>
  </body>
</html>
