<h1>Lobby</h1>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Créateur</th>
        </tr>   
        
        {rooms}
        <tr>
            <td>{name}</td>
            <td>{pseudo}</td>
        <form class="form-signin" action="" method="POST">
            <input class="btn btn-lg btn-primary btn-block" type="hidden" value="{idRoom}" name="id" />
            <td><input class="btn btn-lg btn-primary btn-block" type="submit" value="Rejoindre" name="join" /></td>
        </form>
        </tr>
        {/rooms}
    </table>
</div>

<h1>Nouvelle Room</h1>
<div class="col-md-4">
    <form class="form-signin" action="" method="POST">
        <input class="form-control" required autofocus type="text" name="room" value="" placeholder="Room*"/>
        <br />
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Créer" name="create" />
    </form>
</div>

<script>
    setTimeout(function () {
        window.location.reload(1);
    }, 5000);
</script>