{login=
-}
<h1>Connexion</h1>
<div class="col-md-4 col-md-offset-4">
    <form class="form-signin" action="" method="POST">
        <input class="form-control" required autofocus type="text" name="pseudo" value="{pseudo}" placeholder="Pseudo*"/>
        <input class="form-control" required type="password" name="password" value="" placeholder="Mot de passe*"/>

        <br />
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Connexion" name="login" />
    </form>
    {error}
</div>
{/login}